* {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Poppins', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Mulish', sans-serif;
   font-family: 'Inter', sans-serif; */
}
.ol {
  width: 100%;
  justify-content: space-around;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}
ul {
  display: flex;
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #0000ee;
}
ul li {
  transition: all 0.3s ease-in-out;
  padding: 28px 20px;
}
ul li:hover {
  padding: 28px 20px;
  background: rgb(41, 202, 142);
}
ul li:hover {
  color: white;
}

.is-current {
  background: rgb(41, 202, 142);
}
.is-current {
  color: white;
}
[id*='box']::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: black;
  opacity: 0.2;
  z-index: 4;
}
[id*='box'] {
  position: relative;
  width: 100%;
  max-height: 90vh;
  min-height: 90vh;
}
button {
  padding: 15px 25px;
  color: white;
  border-radius: 30px;
  background: transparent;
  margin-top: 35px;
  border: 1px solid white;
  transition: all 0.4s ease-in-out;
}

button:hover {
  color: rgb(51, 51, 51);
  background: white;
}
hr {
  width: 50px;
  height: 5px;
  border: none;
  border-radius: 1px;
  background-color: #3f51b5;
  margin-top: 5px;
}
input,
textarea {
  padding: 20px;
  border: none;
  border-bottom: 1px solid grey;
}
input:active,
input:focus,
textarea:focus {
  outline: none;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  font-size: 0.9rem;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.icon:hover {
  background: #29ca8e;
  color: white;
}

.cimage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.cimage2 {
  border-radius: 50%;
  margin-right: 10px;
}
.rimage {
  border-radius: 50%;
  margin-right: 10px;
  max-height: 100%;
  max-width: 100%;
}
.rstar {
  color: #3f51b5;
  font-size: small;
}
.cicon {
  padding: 7px 10px;
  background: #d6d6d6;
  color: white;
  border-radius: 1px;
}
.cicon:hover {
  background: #869791;
}
form {
  display: flex;
  flex-direction: column;
}
form input:nth-child(1),
form input:nth-child(2) {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
}

form textarea:nth-child(3) {
  border-radius: 5px;

  padding: 15px;
  height: 80px;
}
form button:nth-child(4) {
  border-radius: 5px;
  padding: 15px 25px;
  background: white;
  color: black;
  width: 200px;
  margin-top: 20px;
  cursor: pointer;
}

.change {
  color: #29ca8e;
}
.footerInput {
  border: none;
  border-bottom: 1px solid #303030;
  background: transparent;
  width: 100%;
  margin-top: 10px;
}
.footerButton {
  padding: 15px 50px;
}
.signUp {
  background: #3f51b5;
}
.signUp:hover {
  background: #6073df;
  color: white;
}
.menu {
  display: none;
}
.navMenu {
  display: none;
}

@media screen and (max-width: 900px) {
  .sliderImage {
    object-position: center;
    object-fit: cover;
    min-height: 90vh;
  }

  ul li a {
    text-decoration: none;
    color: white;
  }
  ul {
    transition: all 2s ease;
    transform: translateY(-1000px);
    position: absolute;
    width: 100vw;
    display: block;
    background: rgb(46, 45, 45);
    top: 0px;
    color: white;
  }
  .phone {
    display: none;
  }
  .menu {
    display: block;
  }
  #menu:checked ~ ul {
    transform: translateY(59px);
    display: block;
  }
}
