* {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Poppins', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Inter', sans-serif; */
}
.ol {
  width: 100%;
  padding: 0px calc((100vw - 1100px) / 2);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #0000ee;
}
ul li {
  transition: all 0.3s ease-in-out;
  padding: 28px 20px;
}
ul li:hover {
  padding: 28px 20px;
  background: rgb(41, 202, 142);
}
ul li:hover a {
  color: white;
}

.is-current {
  background: rgb(41, 202, 142);
}
.is-current a {
  color: white;
}
[id*='box']::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: black;
  opacity: 0.2;
  z-index: 4;
}
[id*='box'] {
  position: relative;
  width: 100%;
}
button {
  padding: 15px 25px;
  color: white;
  border-radius: 30px;
  background: transparent;
  margin-top: 35px;
  border: 1px solid white;
  transition: all 0.4s ease-in-out;
}

button:hover {
  color: rgb(51, 51, 51);
  background: white;
}
hr {
  width: 50px;
  height: 5px;
  border: none;
  border-radius: 1px;
  background-color: #3f51b5;
  margin-top: 5px;
}
input {
  padding: 20px;
  border: none;
  border-bottom: 1px solid grey;
}
input:active,
input:focus {
  border: none !important;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  font-size: 0.9rem;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.icon:hover {
  background: #29ca8e;

  color: white;
}
