* {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Poppins', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Inter', sans-serif; */
}
.ol {
  width: 100%;
  padding: 0px calc((100vw - 1100px) / 2);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
  list-style: none;
}
ul li a {
  text-decoration: none;
}
ul li {
  padding: 28px 20px;
}
ul li:hover {
  padding: 28px 20px;
  background: rgb(41, 202, 142);
}
ul li:hover a {
  color: white;
}
.is-current {
  background: rgb(41, 202, 142);
}
.is-current a {
  color: white;
}
